
  h1 {
    font-family:'Quicksand', sans-serif;
    font-size: 32px;
    color: white;
  	background-color: #c2d6d6;
    width: 400px;
    margin-left: 550px;
    margin-top: 50px;
  	padding-top: 10px;
  	padding-bottom: 10px;
    border-radius: 25px;
  	text-align: center;


  }


  h2 {

  font-family:'Quicksand', sans-serif;
  color: white;
	background-color: #c2d6d6;
  width: 200px;
  margin-left: 650px;
  margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
  border-radius: 25px;
	text-align: center;

}

img {
  width: 500px;
  margin-left: 500px;
	margin-right: 350px;
  margin-top: -5px;
  border-radius: 300px;
  align: center;

 }

h3 {
  padding-left: 140px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 24px;
	background-color: #c2d6d6;
  width: 300px;
	margin-left: 600px;
  border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}


* {
  box-sizing: border-box;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  margin-left: 550px;
  margin-top: 20px;
  width: 30%;
  background: #f1f1f1;
}

form.example button {
  width: 20%;
  padding: 10px;
  margin-top: 30px;
  margin-left: 600px;
  background: #c2d6d6;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}

form. button:hover {
  background: #c2d6d6;
}


}

.container {
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  margin-left: 600px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #c2d6d6;
  font-family: trebuchet ms;
  opacity: none;
  height: 20px;
  width: 300px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  padding: 16px 32px;
  padding-bottom: 30px;
  margin-left: 100px;

}
